<%- include('partials/head') %>
  <%- include('partials/nav') %>
    <main class="bg-slate-50 flex items-center my-16 justify-center">
      <section class="p-8 rounded-lg shadow-lg w-2/3">
        <div class="grid grid-cols-2 gap-4 mt-6">
          <article class="text-center">
            <img
              src=<%= yourPokemon.sprites.other["official-artwork"]["front_default"] %>
              alt=<%=yourPokemon.name%> class="mx-auto mb-2" />
            <h2 class="text-lg font-bold"><%=yourPokemon.name%></h2>
            <div class="relative bg-gray-200 h-6 w-2/3 rounded-full mx-auto mb-4">
              <div id="pikachu-health" class="bg-green-400 z-10 h-full rounded-full" style="width: <%= (yourHP / yourMaxHP) * 100 %>%;"></div>
              <p class="absolute top-0 inset-0"><%= yourHP %>/<%= yourMaxHP %></p>
            </div>
          </article>
          <article class="text-center">
            <img
              src=<%= opponentPokemon.sprites.other["official-artwork"]["front_default"] %>
              alt=<%=opponentPokemon.name%> class="mx-auto mb-2" />
            <h2 class="text-lg font-bold"><%=opponentPokemon.name%></h2>
            <div class="relative bg-gray-200 h-6 w-2/3 rounded-full mx-auto z-0 mb-4">
              <div id="charmander-health" class="bg-green-400 z-10 h-full rounded-full" style="width: <%= (opponentHP / opponentMaxHP) * 100 %>%;"></div>
              <p class="absolute top-0 inset-0"><%= opponentHP %>/<%= opponentMaxHP %></p>
            </div>
          </article>
        </div>
        <div class="text-center mt-6">
          <form method="post" action="/pokemon/battle">
          <button type="submit" name="action" value="battle" id="battle-btn" class="bg-blue-500 hover:bg-blue-600 text-white w-1/4 font-bold py-2 px-4 rounded">
            Battle
          </button>
          </form>
        </div>
      </section>
    </main>
    </body>

    </html>