<%- include('partials/head') %>
<%- include("partials/nav") %>
    <main class="flex items-center justify-center py-8">
      <article
        id="notification"
        class="hidden fixed top-24 right-5 bg-green-200 border-green-600 text-green-600 border-l-4 p-4 rounded"
        role="alert"
      >
        <p id="notificationText">
          <%= pokemon %> verdediging en aanval ging omhoog!
        </p>
      </article>
      <section class="text-center">
        <figure class="mb-4">
          <img
            src="/assets/images/Whos-that-Pokemon.png"
            alt="Pokémon"
            class="mx-auto h-20 w-auto"
          />
        </figure>

        <img
          id="pokemon"
          src=<%= image %>
          alt="Who's that Pokémon"
          class="mx-auto brightness-0"
        />

        <form
          id="quizForm"
          action="/quiz"
          method="post"
          class="flex flex-col justify-center items-center mb-4 mx-auto gap-4 w-1/2"
        >
          <input
            type="text"
            name="guess"
            id="input"
            placeholder="Wie is deze Pokémon?"
            class="shadow appearance-none border rounded py-3 text-center w-full text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          />
          <button
            type="submit"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 w-full rounded focus:outline-none focus:shadow-outline"
          >
            Doe een gok
          </button>
        </form>
        <button
          id="next"
          class="hidden ml-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        >
          Volgende
        </button>
      </section>
    </main>
  </body>
</html>
<script>
  let answer = "<%= answer %>";
</script>
